@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Raleway:wght@300&display=swap');
body{
    background-color: hsl(273, 67%, 90%);
}
.col{
    background-color: white;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
a{font-family: 'McLaren', sans-serif;
    Color:#000000;
}
h2{font-family: 'McLaren', sans-serif;
    Color:#e3bbff;
}